.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 18px 30px;
  background-color: transparent;
  min-height: 60px;
  box-sizing: border-box;
}

.page-header__logo {

}

.page-header__img {

}

.page-header__menu {
  order: 2;

  &--closed {
    display: none;
  }
}

.page-header__toggle {
  margin-left: auto;
}

