.promotion {
  padding: 0 30px;
}

.promotion__title {
  margin-bottom: 25px;
  width: 166px;
}

.promotion__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 619px;
}

.promotion__item {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 14px;
  margin: 0 0 21px 0;
  min-height: 145px;
  border-radius: 12px;
  background: radial-gradient(121.27% 623.18% at 11.51% 65.34%, #34586C 0%, rgba(71, 94, 106, 0.71676) 31.19%, #808080 100%);

  &:last-child {
    margin: 0;
  }
}

.promotion__item--liquid {
  background: url('../img/liquid.jpg') no-repeat 0 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url('../img/liquid@2x.jpg') no-repeat 0 0;
    background-size: cover;
  }
}

.promotion__item--free-light {
  background: url('../img/free-light.jpg') no-repeat 0 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url('../img/free-light@2x.jpg') no-repeat 0 0;
    background-size: cover;
  }
}

.promotion__item--flex {
  display: flex;
}

.card {
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E2E2E2;
}

.card__text {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #D16527;
}

.card__img {
}

.card__social {
}

.card__social-link {
}

.card__social-icon {
}

.card__social-icon--wa {
}

.card__social-icon--tg {
}
